<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<title>CaptureSite</title>
<style>
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
</style>

<main role="main" class="container">
    <h1 class="mt-5">CaptureSite</h1>
    <form method="get" action="/capture">
        <div class="form-group">
            <label for="url">URL</label>
            <input name="url" type="url" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Capture</button>
    </form>
</main>
